.container{
    margin: 30px 70px;
}


.card{ 
    width: 100%;
    height: 250px;
}
.card img{
    width: 200px;
    height: 200px;
    padding: 30px 20px;
}
.content{
    padding: 0 10px;
    display:flex;
}
.text h1{
    color: #212529;
    font-weight: bolder;
    margin-left: 50px;
}
.text span{
    margin-left: 50px;
    font-weight: bold;
    color: #212529;
}

@media only screen and (max-width:768px){
    .container{
        margin:20px auto;
    }
    .card{
        width:100%;
        height: 100%;
    }
    .content{
        flex-wrap:wrap;
    }
    .text h1,
    .text p{
        text-align:left;
        margin-left: 0;
    }
    
}