.container{
    margin: 30px 70px;
}


.card{ 
    cursor: pointer;
    width: 100%;
    height: 270px;
    background-color:  #aa1111;

}
.card:hover{
    background-color: #fff0f5;
}
.card img{
    width: 200px;
    height: 200px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color:rgb(125, 245, 245);
}
.content{
    color:black;
    padding: 0 10px;
    display:flex;


}
.line{
    border: 2px solid orange;
}
.text h1{
    color: #212529;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 25px;
}
.text p{
    font-size: 15px;
}

.text span{
    margin-left: 50px;
    color:orange;
}

@media only screen and (max-width:768px){
    .container{
        margin:20px 0px;
        align-items: center;
    }
    .card{
        width:100%;
        height: 100%;
    }
    .card img{
        padding: 0;
        align-items:center;
    }
    .content{
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
    }
    .text h1,
    .text span{
        text-align:left;
        margin-left: 2px;
    }
    .text h1{
        margin-left: 25px;
    }
    
}