.container{
    margin: 30px 70px;
}


.card{ 
    width: 100%;
    height: 250px;
}
.card img{
    width: 200px;
    height: 200px;
    padding: 30px 20px;
}
.content{
    display:flex;
}
.text h1{
    margin-left: 50px;
}
.text p{
    margin-left: 50px;
    font-weight: bold;
}

@media only screen and (max-width:768px){
    .container{
        margin:20px auto;
    }
    .card{
        width:100%;
        height: 100%;
    }
    .content{
        justify-content: center;
        flex-wrap:wrap;
    }
    
}